/* Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.header__link:hover {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
}

/* Адрес */
.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}

.address__item {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.no-line {
  text-decoration: none;
}

/* Основной контент */
.main {
  flex-grow: 1;
}

/* Обложка */
.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: #000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 105px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-right: -30px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.8px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.bet-button:hover {
  background: #000;
  transition: 0.4s ease-in-out;
}

/* Лоты */
.lots {
  margin-bottom: 155px;
  padding: 0 24px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
  height: 100%;
  display: block;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
}

.card__title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.lots__look-more-link:hover {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

/* Об аукционе */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 24px;
  margin-bottom: 180px;
  padding: 0 24px;
}

.about__logo-wrapper {
  justify-self: center;
  padding-top: 101px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo img {
  width: 148px;
  height: auto;
}

.about__text-wrapper {
  padding-top: 0;
}

.about__title {
  margin-bottom: 100px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 693px;
}

.about__text-item {
  max-width: 679px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* Подвал */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-underline-offset: 4px;
  text-transform: lowercase;
  text-decoration: underline;
}

.footer__menu-link:hover {
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
